@import "tailwindcss";

body {
  @apply m-0;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  @apply bg-[#0b0c10] text-[#e3e4e8];
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    "JetBrains Mono", "Fira Code", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
